/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html,
  body,
  .slide {
    font-size: 17px;
  }

  .slide {
    margin-bottom: 30px;
  }

  /* Anchors */
  a.anchor {
    top: -120px;
  }

  #program,
  #faqAnchor {
    top: -180px;
  }

  #register {
    top: -95px;
  }

  #gallery {
    top: -130px;
  }
  /* End of anchors */

  /* Navbar */
  nav {
    height: 80px;
    display: flex;
    flex-direction: column;
  }

  #navbarFirstRowWrapper {
    align-items: normal;
  }

  #navbarLogoWrapper {
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  #logoText {
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
  }

  #navbarHacText {
    font-size: 19px;
    margin-right: 1.5vw;
  }

  #mobileMenu {
    display: block;
  }

  #navBarLogo {
    width: 90vw;
    padding-right: 0;
  }

  #navbarLinks {
    display: none;
  }

  #navbarRegisterButton {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  /* Alert */
  .alertWrapper {
    top: 80px;
  }

  .alertInner {
    width: 90vw;
  }

  .alertLeft div {
    margin-left: 3vw;
  }

  /* General */
  h1 {
    font-size: 26px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 15px;
  }

  .contentWrapper {
    width: 90vw;
  }

  .customBold.big {
    font-size: 26px;
  }

  .customBold.medium {
    font-size: 21px;
  }

  .customBold.medium.time {
    font-size: 20px;
  }

  .customBold.small {
    font-size: 17px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    display: flex;
    flex-flow: column;
    margin: 80px auto 0;
  }

  #welcomeText {
    order: 2;
    width: 100%;
  }

  .welcomeHead {
    width: 100%;
  }

  .hackathonLogoWrapper {
    width: 100%;
    order: 1;
    margin-bottom: 15px;
  }

  .logoImg {
    height: 400px;
  }

  /* 2nd page - why */
  .carousel-indicators {
    display: none;
  }

  #carouselWrapper {
    width: 100%;
  }

  /* 3rd page - register */
  #formContentWrapper {
    flex-flow: column;
  }

  .registerButton {
    font-size: 17px;
    width: 170px;
    height: 55px;
    color: white;
  }

  #teamNameInputWrapper {
    display: none;
  }

  .videoWrapper {
    width: 100%;
  }

  #youtubeFrame{
    order: 2;
    margin-bottom: 0;
  }

  #otherVideosWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0;
  }

  #youtubeFrame2,
  #youtubeFrame3 {
    margin-top: 15px;
    height: 150px;
    width: 100%;
  }

  #youtubeFrame2 {
    margin-right: 0;
  }

  .smallTextTerms {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 13px;
    order: 1;
  }

  /* 4th page - gallery */
  #galleryText,
  #gallerySlideWrapper div,
  .container-sm {
    width: 100%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 450px;
  }

  /* 5th page - skills */
  #skillContentWrapper {
    display: flex;
    flex-direction: column;
  }

  #skillContentWrapper div {
    width: 100%;
    margin-bottom: 15px;
  }

  .skillsImg {
    height: 45vw;
  }

  #skillText {
      margin-bottom: 15px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    width: 15vw;
  }

  #reqTable td:last-child {
    width: 85vw;
    padding-top: 12px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 35px;
    width: auto;
  }

  .reqText {
    width: 75%;
    height: 6vw;
  }

  /* 7,8th page - program 1,2 */
  .day {
    padding-left: 10px;
  }

  .programHead.day {
    font-size: 23px;
  }

  .programHead.date {
    font-size: 21px;
  }

  .programTable td:first-child {
    width: 5vw;
    padding-right: 2vw;
  }

  .programTable td:last-child {
    padding-left: 1.5vh;
  }

  .programTable td {
    padding-bottom: 2.5vw;
    padding-top: 2.5vw;
  }

  /* 9th page - evaluation */
  #evaluationJury {
    height: 465px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  #evaluationText {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  #evalImg {
    width: 185px;
    max-height: 185px;
  }

  #evaluationText div {
    width: 100%;
  }

  .evalImages {
    height: 120px;
  }

  /* 10th page - topics */
  #topicSlide {
    display: flex;
    flex-direction: column;
  }

  #topicContentWrapper div {
    width: 100%;
    margin-bottom: 15px;
  }

  .topicImg {
    height: 280px;
  }

  .topicTextWrapper {
    height: 440px;
  }

  .column {
    height: auto;
  }

  .column_big {
    align-self: center;
    height: 220px;
  }

  .column_heading {
    height: 38px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  #lastColumn {
    height: auto;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  /* 13th page - faq */
  #faqImgWrapper {
    height: 120px;
    margin-bottom: 15px;
  }

  /* Footer */
  #footerTextWrapper {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
  }

  #footerLinkWrapper {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footerHacTextWrapper {
    order: 1;
  }

  #footerSecondRow {
    width: 90vw;
  }

  .footerLink {
    padding-right: 0;
  }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html,
  body,
  .slide {
    font-size: 21px;
  }

  .slide {
    margin-bottom: 60px;
  }

  /* Anchors */
  a.anchor {
    top: -170px;
  }

  #program,
  #faqAnchor {
    top: -200px;
  }

  #register {
    top: -150px;
  }

  #gallery {
    top: -190px;
  }

  /* End of anchors */

  /* Navbar */
  nav {
    height: 120px;
    display: flex;
    flex-direction: column;
  }

  #navbarFirstRowWrapper {
    align-items: normal;
  }

  #navbarLogoWrapper {
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }

  #logoText {
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
  }

  #navbarHacText {
    font-size: 30px;
    margin-right: 1.5vw;
  }

  #mobileMenu {
    display: block;
  }

  #navBarLogo {
    width: auto;
    height: 5vh;
    padding-right: 0;
  }

  #navbarLinks {
    display: none;
  }

  #navbarRegisterButton {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu__btn {
    top: 80px;
    right: 60px;
    width: 35px;
  }

  /* Alert */
  .alertWrapper {
    top: 120px;
  }

  .alertInner {
    width: 90vw;
  }

  .alertLeft div {
    margin-left: 3vw;
  }

  /* General */
  h1 {
    font-size: 31px;
    margin-bottom: 30px;
  }

  .contentWrapper {
    width: 90vw;
  }

  .customBold.big {
    font-size: 31px;
  }

  .customBold.medium {
    font-size: 26px;
  }

  .customBold.medium.time {
    font-size: 23px;
  }

  .customBold.small {
    font-size: 21px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    display: flex;
    flex-flow: column;
    margin: 120px auto 0;
  }

  #welcomeText {
    order: 2;
    width: 100%;
  }

  .welcomeHead {
    width: 100%;
  }

  .hackathonLogoWrapper {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }

  .logoImg {
    height: 904px;
  }

  /* 2nd page - why */
  .carousel-indicators {
    display: none;
  }

  #carouselWrapper {
    width: 100%;
  }

  /* 3rd page - register */
  #formContentWrapper {
    flex-flow: column;
  }

  .registerButton {
    font-size: 21px;
    width: 180px;
    height: 65px;
    color: white;
  }

  .videoWrapper {
    width: 100%;

  }

  #youtubeFrame{
    order: 2;
    margin-bottom: 0;
    height: 250px;
  }

  #otherVideosWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  #youtubeFrame2,
  #youtubeFrame3 {
    margin-top: 30px;
    height: 250px;
    width: 100%;
  }

  #youtubeFrame2 {
    margin-right: 0;
  }

  .smallTextTerms {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
    order: 1;
  }

  /* 4th page - gallery */
  #galleryText,
  #gallerySlideWrapper div,
  .container-sm {
    width: 100%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 600px;
  }

  /* 5th page - skills */
  #skillContentWrapper {
    display: flex;
    flex-direction: column;
  }

  #skillContentWrapper div {
    width: 100%;
    margin-bottom: 30px;
  }

  .skillsImg {
    height: 250px;
  }

  #skillText {
    margin-bottom: 30px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    width: 15vw;
  }

  #reqTable td:last-child {
    width: 85vw;
    padding-top: 15px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 45px;
    width: auto;
  }

  .reqText {
    width: 75%;
    height: 6vw;
  }

  /* 7,8th page - program 1,2 */
  .day {
    padding-left: 10px;
  }

  .programHead.day {
    font-size: 25px;
  }

  .programHead.date {
    font-size: 24px;
  }

  .programTable td:first-child {
    width: 5vw;
    padding-right: 2vw;
  }

  .programTable td:last-child {
    padding-left: 1.5vh;
  }

  .programTable td {
    padding-bottom: 2.5vw;
    padding-top: 2.5vw;
  }

  /* 9th page - evaluation */
  #evaluationJury {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  #evaluationText {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #evalImg {
    width: 230px;
    max-height: 310px;
  }

  #evaluationText div {
    width: 100%;
  }

  .evalImages {
    height: 240px;
  }

  /* 10th page - topics */
  #topicSlide {
    display: flex;
    flex-direction: column;
  }

  #topicContentWrapper div {
    width: 100%;
    margin-bottom: 30px;
  }

  .topicImg {
    height: 500px;
  }

  .topicTextWrapper {
    height: 420px;
  }

  .column {
    height: 150px;
  }

  .column_big {
    align-self: center;
    height: 200px;
  }

  .column_heading {
    height: 40px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  /* 13th page - faq */

  /* Footer */
  #footerTextWrapper,
  #footerSecondRow {
    width: 90vw;
  }

  #footerSecondRow img {
    width: 35px;
  }
}

/* Large tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (min-height: 800px) {
  html,
  body,
  .slide {
    font-size: 26px;
  }

  .slide {
    margin-bottom: 60px;
  }

  /* Anchors */
  a.anchor {
    top: -200px;
  }

  #program,
  #faqAnchor {
    top: -240px;
  }

  #register {
    top: -160px;
  }

  #gallery {
    top: -220px;
  }
  /* End of anchors */

  /* Navbar */
  nav {
    height: 140px;
    display: flex;
    flex-direction: column;
  }

  #navbarFirstRowWrapper {
    align-items: normal;
  }

  #navbarLogoWrapper {
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }

  #logoText {
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
  }

  #navbarHacText {
    font-size: 35px;
    margin-right: 1.5vw;
  }

  #mobileMenu {
    display: block;
  }

  #navBarLogo {
    width: auto;
    height: 5vh;
    padding-right: 0;
  }

  #navbarLinks {
    display: none;
  }

  #navbarRegisterButton {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu__btn {
    top: 90px;
    right: 60px;
    width: 35px;
  }

  /* Alert */
  .alertWrapper {
    top: 140px;
  }

  .alertInner {
    width: 90vw;
  }

  .alertLeft div {
    margin-left: 3vw;
  }

  /* General */
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .contentWrapper {
    width: 90vw;
  }

  .customBold.big {
    font-size: 36px;
  }

  .customBold.medium {
    font-size: 31px;
  }

  .customBold.medium.time {
    font-size: 28px;
  }

  .customBold.small {
    font-size: 26px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    display: flex;
    flex-flow: column;
    margin: 140px auto 0;
  }

  #welcomeText {
    order: 2;
    width: 100%;
  }

  .welcomeHead {
    width: 100%;
  }

  .hackathonLogoWrapper {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }

  .logoImg {
    height: 1024px;
  }

  /* 2nd page - why */
  .carousel-indicators {
    display: none;
  }

  #carouselWrapper {
    width: 100%;
  }

  /* 3rd page - register */
  #formContentWrapper {
    flex-flow: column;
  }

  .registerButton {
    font-size: 21px;
    width: 180px;
    height: 65px;
    color: white;
  }

  .videoWrapper {
    width: 100%;
  }

  #youtubeFrame{
    order: 2;
    margin-bottom: 0;
    height: 350px;
  }

  #otherVideosWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  #youtubeFrame2,
  #youtubeFrame3 {
    margin-top: 30px;
    height: 350px;
    width: 100%;
  }

  #youtubeFrame2 {
    margin-right: 0;
  }

  .smallTextTerms {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    order: 1;
  }

  /* 4th page - gallery */
  #galleryText,
  #gallerySlideWrapper div,
  .container-sm {
    width: 100%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 750px;
  }

  /* 5th page - skills */
  #skillContentWrapper {
    display: flex;
    flex-direction: column;
  }

  #skillContentWrapper div {
    width: 100%;
    margin-bottom: 30px;
  }

  .skillsImg {
    height: 310px;
  }

  #skillText {
    margin-bottom: 30px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    width: 15vw;
  }

  #reqTable td:last-child {
    width: 85vw;
    padding-top: 18px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 55px;
    width: auto;
  }

  .reqText {
    width: 75%;
    height: 6vw;
  }

  /* 7,8th page - program 1,2 */
  .day {
    padding-left: 10px;
  }

  .programHead.day {
    font-size: 31px;
  }

  .programHead.date {
    font-size: 27px;
  }

  .programTable td:first-child {
    width: 5vw;
    padding-right: 2vw;
  }

  .programTable td:last-child {
    padding-left: 1.5vh;
  }

  .programTable td {
    padding-bottom: 2.5vw;
    padding-top: 2.5vw;
  }

  /* 9th page - evaluation */
  #evaluationJury {
    height: 820px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  #evaluationText {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #evalImg {
    width: 410px;
    max-height: 410px;
  }

  #evaluationText div {
    width: 100%;
  }

  .evalImages {
    height: 320px;
  }

  /* 10th page - topics */
  #topicSlide {
    display: flex;
    flex-direction: column;
  }

  #topicContentWrapper div {
    width: 100%;
    margin-bottom: 30px;
  }

  .topicImg {
    height: 650px;
  }

  .topicTextWrapper {
    height: 620px;
  }

  .column {
    height: 200px;
  }

  .column_big {
    align-self: center;
    height: 250px;
  }

  .column_heading {
    height: 50px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  /* 13th page - faq */

  /* Footer */
  #footerTextWrapper,
  #footerSecondRow {
    width: 90vw;
  }

  #footerSecondRow img {
    width: 45px;
  }
}

/* Small screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (max-height: 799px) {
  html,
  body,
  .slide {
    font-size: 16px;
  }

  .slide {
    margin-bottom: 50px;
  }

  /* Anchors */
  a.anchor, #program {
    top: -140px;
  }

  #faqAnchor {
    top: -165px;
  }

  #register {
    top: -110px;
  }

  #gallery {
    top: -165px;
  }
  /* End of anchors */

  /* Navbar */
  nav {
    height: 100px;
  }

  #navbarHacText {
    font-size: 26px;
  }

  #navbarLinks {
    padding-top: 10px;
  }

  .navbar-brand {
    font-size: 13px;
  }

  /* Alert */
  .alertWrapper {
    top: 100px;
  }

  /* General */
  h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .contentWrapper {
    width: 80vw;
  }

  .customBold.big {
    font-size: 25px;
  }

  .customBold.medium {
    font-size: 21px;
  }

  .customBold.medium.time {
    font-size: 19px;
  }

  .customBold.small {
    font-size: 16px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    margin: 100px auto 0;
  }

  #welcomeText {
    width: 50%;
  }

  .hackathonLogoWrapper {
    width: 50%;
  }

  .logoImg {
    height: 540px;
  }

  /* 2nd page - why */
  .carousel-control-next {
    padding-left: 10%;
  }

  .carousel-control-prev {
    padding-right: 10%;
  }

  .carousel-indicators {
    display: none;
  }

  #carouselWrapper {
    width: 100%;
  }

  /* 3rd page - register */
  .registerButton {
    font-size: 15px;
    width: 145px;
    height: 40px;
  }

  #youtubeFrame {
    height: 400px;
  }

  #youtubeFrame2, #youtubeFrame3 {
    height: 230px;
  }

  .smallTextTerms {
    font-size: 13px;
  }

  /* 4th page - gallery */
  #galleryText {
    width: 70%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 450px;
  }

  /* 5th page - skills */
  .skillsImg {
    height: 145px;
  }

  #skillText {
    margin-bottom: 25px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    text-align: left;
    width: 4vw;
  }

  #reqTable td:last-child {
    width: 70vw;
    padding-top: 27px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 40px;
  }

  /* 7,8th page - program 1,2 */
  #programSlide {
    margin-bottom: 25px;
  }

  .day {
    padding-left: 10px;
  }

  .programHead.day {
    font-size: 23px;
  }

  .programHead.date {
    font-size: 21px;
  }

  /* 9th page - evaluation */
  #evaluationText {
    margin-bottom: 25px;
  }

  #evalImg {
    height: 160px;
    width: 160px;
  }

  .evalImages {
    height: 145px;
  }

  /* 10th page - topics */
  .topicImg {
    height: 300px;
  }

  .topicTextWrapper {
    height: 400px;
  }

  .column {
    height: 140px;
  }

  .column_big {
    height: 190px;
  }

  .column_heading {
    height: 32px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 25px;
    gap: 13px;
  }

  /* 13th page - faq */
  #faqImgWrapper {
    height: 100px;
    margin-bottom: 25px;
  }

  /* Footer */
  #footerSecondRow img {
    width: 35px;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  html,
  body,
  .slide {
    font-size: 19px;
  }

  .slide {
    margin-bottom: 60px;
  }

  /* Anchors */
  a.anchor {
    top: -165px;
  }

  #program,
  #faqAnchor {
    top: -180px;
  }

  #register {
    top: -130px;
  }

  #gallery {
    top: -190px;
  }

  #home {
    top: -100vh;
  }
  /* End of anchors */

  /* Navbar */
  nav {
    height: 120px;
  }

  #navbarHacText {
    font-size: 33px;
  }

  #navbarLinks {
    padding-top: 10px;
  }

  .navbar-brand {
    font-size: 16px;
  }

  /* Alert */
  .alertWrapper {
    top: 120px;
  }

  /* General */
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .contentWrapper {
    width: 80vw;
  }

  .customBold.big {
    font-size: 30px;
  }

  .customBold.medium {
    font-size: 25px;
  }

  .customBold.medium.time {
    font-size: 21px;
  }

  .customBold.small {
    font-size: 19px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    margin: 120px auto 0;
  }

  #welcomeText {
    width: 45%;
  }

  .hackathonLogoWrapper {
    width: 55%;
  }

  .logoImg {
    height: 600px;
  }

  /* 2nd page - why */
  .carousel-control-next {
    padding-left: 10%;
  }

  .carousel-control-prev {
    padding-right: 10%;
  }

  .carousel-indicators {
    display: flex;
  }

  #carouselWrapper {
    width: 100%;
  }

  /* 3rd page - register */
  #formContentWrapper,
  #formWrapper,
  #videoWrapper {
    /* height: 80%;*/
  }

  .registerButton {
    font-size: 19px;
    width: 180px;
    height: 50px;
  }

  #youtubeFrame {
    height: 450px;
  }

  #youtubeFrame2, #youtubeFrame3 {
    height: 250px;
  }

  .smallTextTerms {
    font-size: 15px;
  }

  /* 4th page - gallery */
  #galleryText {
    width: 70%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 550px;
  }

  /* 5th page - skills */
  .skillsImg {
    height: 190px;
  }

  #skillText {
    margin-bottom: 25px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    text-align: left;
    width: 4vw;
  }

  #reqTable td:last-child {
    width: 70vw;
    padding-top: 27px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 50px;
  }

  /* 7,8th page - program 1,2 */
  #programSlide {
    margin-bottom: 25px;
  }

  .day {
    padding-left: 10px;
  }

  .programHead.day {
    font-size: 25px;
  }

  .programHead.date {
    font-size: 23px;
  }

  /* 9th page - evaluation */
  #evaluationText {
    margin-bottom: 30px;
  }

  #evalImg {
    height: 180px;
    width: 180px;
  }

  .evalImages {
    height: 180px;
  }

  /* 10th page - topics */
  .topicImg {
    height: 360px;
  }

  .topicTextWrapper {
    height: 470px;
  }

  .column {
    height: 165px;
  }

  .column_big {
    height: 265px;
  }

  .column_heading {
    height: 35px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    gap: 15px;
  }

  /* 13th page - faq */
  #faqImgWrapper {
    height: 110px;
    margin-bottom: 30px;
  }

  /* Footer */
  #footerSecondRow img {
    width: 40px;
  }
}

/* Large screens */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  /* css found in hackathon.css file */
}

/* Ultra wide */
@media only screen and (min-width: 1921px) {
  html,
  body,
  .slide {
    font-size: 30px;
  }

  .slide {
    margin-bottom: 100px;
  }

  /* Anchors */
  a.anchor {
    top: -240px;
  }

  #program,
  #faqAnchor {
    top: -235px;
  }

  #register {
    top: -210px;
  }

  #gallery {
    top: -280px;
  }

  #home {
    top: -100vh;
  }
  /* End of anchors */

  /* Navbar */
  nav {
    height: 170px;
  }

  #navbarHacText {
    font-size: 50px;
  }

  #navbarLinks {
    padding-top: 10px;
  }

  .navbar-brand {
    font-size: 19px;
  }

  /* Alert */
  .alertWrapper {
    top: 170px;
  }

  /* General */
  h1 {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .contentWrapper {
    width: 80vw;
  }

  .customBold.big {
    font-size: 45px;
  }

  .customBold.medium {
    font-size: 38px;
  }

  .customBold.medium.time {
    font-size: 35px;
  }

  .customBold.small {
    font-size: 30px;
  }

  /* 1st page - welcome */
  #welcomeContentWrapper {
    margin: 170px auto 0;
  }

  .logoImg {
    height: 1270px;
  }

  /* 2nd page - why */
  .carousel-control-next {
    padding-left: 10%;
  }

  .carousel-control-prev {
    padding-right: 10%;
  }

  .carousel-indicators {
    display: flex;
  }

  /* 3rd page - register */
  .registerButton {
    font-size: 30px;
    width: 275px;
    height: 85px;
  }

  #youtubeFrame {
    height: 850px;
  }

  #youtubeFrame2, #youtubeFrame3 {
    height: 600px;
  }

  .smallTextTerms {
    font-size: 24px;
  }

  /* 4th page - gallery */
  #galleryText {
    width: 70%;
  }

  .inline-gallery-container {
    width: 100%;
    height: 1000px;
  }

  /* 5th page - skills */
  .skillsImg {
    height: 445px;
  }

  #skillText {
    margin-bottom: 50px;
  }

  /* 6th page - requirements */
  #reqTable td:first-child {
    text-align: left;
    width: 4vw;
  }

  #reqTable td:last-child {
    width: 70vw;
    padding-top: 60px;
  }

  #reqTableCol {
    height: 4vw;
    max-height: 4vw;
  }

  .reqCheckmarkImg {
    height: 135px;
  }

  /* 7,8th page - program 1,2 */
  #programSlide {
    margin-bottom: 50px;
  }

  .day {
    padding-left: 20px;
  }

  .programHead.day {
    font-size: 40px;
  }

  .programHead.date {
    font-size: 37px;
  }

  /* 9th page - evaluation */
  #evaluationText {
    margin-bottom: 50px;
  }

  #evalImg {
    width: 500px;
    max-height: 500px;
  }

  .evalImages {
    height: 380px;
  }

  /* 10th page - topics */
  .topicImg {
    height: 900px;
  }

  .topicTextWrapper {
    height: 700px;
  }

  .column {
    height: 320px;
  }

  .column_big {
    height: 360px;
  }

  .column_heading{
    height: 100px;
    padding-bottom: 10px;
  }

  .topicText {
    padding: 5vw;
  }

  /* 11th page - about */

  /* 12th page - organizers */
  #organizersWrapper {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
  }

  /* 13th page - faq */
  #faqImgWrapper {
    height: 200px;
    margin-bottom: 25px;
  }

  /* Footer */
  #footerSecondRow img {
    width: 60px;
  }
}
