html,
body,
.slide {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    font-size: 1vw;
    scroll-behavior: smooth;
}

/* Anchors */
a.anchor {
    display: block;
    position: relative;
    top: -23vh;
    visibility: hidden;
}

#program, #faqAnchor {
    top: -21vh;
}

#register {
    top: -20vh;
}

#gallery {
    top: -15vh;
}

#home {
    top: -50vh;
}
/* End of anchors */

/* Navbar */
nav {
    height: 14vh;
    background-color: #DFF2FD;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#navbarFirstRowWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarLogoWrapper {
    width: 80vw;
    height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoText {
    display: flex;
}

#navbarHacText {
    font-size: 1.8vw;
    margin-right: 1.5vw;
}

#mobileMenu {
    display: none;
}

#navBarLogo {
    max-height: 70%;
    height: 100%;
    width: 50%;
    padding-right: 4vw;
}

#navbarLinks {
    margin: 0 auto 0;
    width: 80vw;
    text-align: center;
    border-top: 1px solid #C3C3C3;
    padding-top: 1vh;
}

.navbar-brand {
    font-size: 1vw;
    font-weight: bold;
    color: #00497B;
}

#navbarLinks a:hover {
    color: #ff7900 !important;
}

/* Alert */
.alertWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 14vh;
    width: 100vw;
    z-index: 50;
}
.alertInner {
    width: 80vw;
}

.alertLeft {
    display: flex;
    align-items: center;
    width: 100%;
}

.alertLeft div {
    margin-left: 1vw;
}

/* General */
h1 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 10vw;
    padding-right: 10vw;
}

li {
    color: #00497B;
}

.contentWrapper {
    width: 80vw;
    height: 84vh;
    z-index: 10;
    background-color: white;
    border-radius: 1vh;
    margin: 1vh auto 0;
}

.customBold {
    font-family: 'Open Sans';
    font-weight: bold;
}

.customBold.big {
    font-size: 2.1vw;
    color: #ff7900;
}
.customBold.big.hackathon {
    font-family: 'Montserrat Alternates';
}

.customBold.medium {
    font-size: 1.8vw;
    color: #00497B;
}

.customBold.medium.time {
    font-size: 1.5vw;
}

.customBold.small {
    font-size: 1vw;
    color: #00497B;
}

/* 1st page - welcome */
#welcomeSlide {
    height: 90vh;
}

#welcomeContentWrapper {
    margin: 15vh auto 0;
}

#welcomeHeader {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.welcomeHead {
    margin-bottom: 4vh;
}

#edLogo {
    max-width: 80%;
    max-height: 50%;
}

.logoImg {
    width: 100%;
    max-width: 100%;
    height: 84vh;
    border-radius: 1vh;
}

#teamCheckWrapper {
    margin-top: 1vw;
}

/* 2nd page - why */
#whySlide {
    height: 85vh;
}

.carousel-control-next {
    padding-left: 10%;
}

.carousel-control-prev {
    padding-right: 10%;
}

#carouselWrapper {
    width: 80%;
    margin: 0 auto 0;
}

/* 3rd page - register */
#registrationSlide {
    height: 120vh;
}

.customBold.small.register {
    color: #ff7900;
}

#formContentWrapper, #formWrapper, #videoWrapper{
    height: 78%;
}

#nameInput, #emailInput, #phoneNumberInput, #teamNameInput,
.contentWrapper.topic {
    background-color: #DFF2FD;
}

.registerButton {
    background-color: #ff7900;
    color: white;
    font-size: 1vw;
    width: 8vw;
    height: 2.5vw;
}

.registerButton:hover {
    background-color: rgba(255, 121, 0, 0.66);
}

#teamNameInputWrapper {
    display: none;
}

#youtubeFrame {
    width: 100%;
    height: 70%;
    margin-bottom: 2vh;
}

#otherVideosWrapper {
    height: 35vh;
}

#youtubeFrame2, #youtubeFrame3 {
    margin-top: 5vh;
    height: 98%;
    width: 50%;
}

#youtubeFrame2 {
    margin-right: 2vh;
}

.smallTextTerms {
    font-size: 1vw;
}

/* 4th page - gallery */
#gallerySlide {
    height: 100vh;
}

#gallerySlideWrapper {
    height: 100%;
}

#programContentWrapper, #programContent2Wrapper {
    background-color: #DFF2FD;
}

#galleryText {
    width: 50%;
}

.inline-gallery-container {
    width: 60vw;
    height: 70vh;
    position: relative;
}

/* 5th page - skills */
#skillSlide {
    height: 75vh;
}

#skillSlide h1 {
    padding-bottom: 2vw;
}

#skillText {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 4vw;
}

#skillContentWrapper {
    height: 100%;
}

.skillImgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.skillsImg {
    height: 13vw;
    max-width: 100%;
}

/* 6th page - requirements */
#requirementsSlide {
    height: 55vh;
}

#requirementsContentWrapper {
    height: 100%;
}

#reqTable td {
    padding: 1vw 0vw 0vw 0vw;
}

#reqTable td:first-child {
    text-align: left;
    width: 4vw;
}

#reqTable td:last-child {
    width: 65vw;
    padding-top:15px;
    margin: 0;
    padding-left: 0;
}

#reqTable td {
    padding-bottom: 20px;
}

#reqTableCol {
    height: 4vw;
    max-height: 4vw;
    vertical-align: middle;
}

.reqCheckmarkImg {
    height: 4vw;
    width: auto;
}

.reqText {
    width: 75%;
    height: 6vw;
    vertical-align: middle;
}

/* 7,8th page - program 1,2 */
#programSlide {
    height: 100vh;
    margin-bottom: 2vh;
}

#programSlide2 {
    height: 90vh;
}

#programContentWrapper {
    height: 90%;
}

.customBold.big.blue {
    color: #00497B;
}

.day {
    padding-left: 10px;
}

.programHead {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #00497B;
}

.programHead.day {
    font-size: 2vw;
}

.programHead.date {
    font-size: 1.5vw;
}

.programTable {
    text-align: left;
    padding-bottom: 20px;
}

.programTable td:first-child {
    border-right: 0.5vw solid #00497b;
    text-align: center;
    vertical-align: top;
    width: 15vw;
}

.programTable td:last-child {
    padding-left: 2vw;
    color: #005b94;
    vertical-align: top;
}

.programTable td {
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
}

/* 9th page - evaluation */
#evaluationSlide {
    height: 90vh;
}

#evaluationJury {
    height: 35vh;
}

.juryCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customBold.small.bulletBlack {
    color: black;
    font-weight: normal;
}

#evalImg {
    width: 25vh;
    max-height: 25vh;
}

.evalImages {
    height: 14vw;
    max-height: 100%;
}

.points{
    margin: 0;
    padding: 0;
    position: relative;
    top: -40px;
}

/* 10th page - topics */
#topicSlide {
    height: 125vh;
    margin-bottom: 5vh;
}

.topicWrapper {
    background-color: #DFF2FD;
    border-radius: 1vh;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.topicTextWrapper p {
    color: #00497B;
}

.topicImg {
    height: 55vh;
    width: 100%;
    border-radius: 1vh 1vh 0 0;
}

.topicTextWrapper {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column{
    height: 25vh;
}

.column_big{
    align-self: center;
    height: 30vh;
}

.column_heading{
    height: 10vh;
    padding-bottom: 10px;
}

.topicText {
    padding: 5vw;
}

/* 11th page - about */
#aboutSlide {
    height: 35vh;
}

#aboutSlide div h1 {
    margin-bottom: 4vh;
}

.aboutImg {
    width: 100%;
    max-height: 100%;
}

/* 12th page - organizers */
#peopleSlide {
    height: 245vh;
}

#organizersWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vh;
    margin-bottom: 3vh;
}

.organizerCard {
    width: 100%;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* 13th page - faq */
#faq {
    margin-bottom: 2vh;
}

#faqSlide {
    height: 115vh;
}

#faqImgWrapper {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

/* Footer */
#footer {
    /* height: 18vh; */
    padding: 20px;
    background-color: #DFF2FD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#footerFirstRow, #footerSecondRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerTextWrapper, #footerSecondRowContent {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerSecondRow {
    width: 80vw;
    margin: 0 auto 0;
    border-top: 1px solid #C3C3C3;
    padding-top: 1vh;
}

#footerSecondRow img {
   width: 20px;
}

.footerLink {
    padding-right: 2vh;
}

.footerLink:hover {
    color: #ff7900 !important;
}

#copyrightText {
    color: #00497B;
}

/* Mobile menu */
.hamburger-menu {
    width: 30vw;
    display: none;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 15;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00497B;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #DFF2FD;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    text-align: center;
    padding: 12px 24px;
    color: #00497B;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #DFF2FD;
}
