html,
body,
.slide {
    margin: 0;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 19px;
    scroll-behavior: smooth;
}

.slide {
    margin-bottom: 60px;
}

/* Anchors */
a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

#program, #faqAnchor {
    top: -190px;
}

#register {
    top: -140px;
}

#gallery {
    top: -200px;
}

#home {
    top: -5000vh;
}
/* End of anchors */

/* Navbar */
nav {
    background-color: #DFF2FD;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 120px;
}

#navbarFirstRowWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#navbarLogoWrapper {
    width: 80vw;
    max-height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoText {
    display: flex;
}

#navbarHacText {
    font-size: 35px;
    margin-right: 1.5vw;
}

#mobileMenu {
    display: none;
}

#navBarLogo {
    max-height: 100%;
    height: 100%;
    width: 50%;
    padding-right: 4vw;
}

#navbarLinks {
    margin: 0 auto 0;
    width: 80vw;
    text-align: center;
    border-top: 1px solid #C3C3C3;
    padding-top: 10px;
}

.navbar-brand {
    font-size: 19px;
    font-weight: bold;
    color: #00497B;
}

#navbarLinks a:hover {
    color: #ff7900 !important;
}

/* Alert */
.alertWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 120px;
    width: 100vw;
    z-index: 50;
}

.alertInner {
    width: 80vw;
}

.alertLeft {
    display: flex;
    align-items: center;
    width: 100%;
}

.alertLeft div {
    margin-left: 1vw;
}

/* General */
h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 30px;
}

li {
    color: #00497B;
}

.contentWrapper {
    width: 80vw;
    z-index: 10;
    background-color: white;
    border-radius: 1vh;
    margin: 1vh auto 0;
}

.customBold {
    font-family: 'Open Sans';
    font-weight: bold;
}

.customBold.big {
    font-size: 38px;
    color: #ff7900;
}
.customBold.big.hackathon {
    font-family: 'Montserrat Alternates';
}

.customBold.medium {
    font-size: 35px;
    color: #00497B;
}

.customBold.medium.time {
    font-size: 28px;
}

.customBold.small {
    font-size: 19px;
    color: #00497B;
}

/* 1st page - welcome */
#welcomeContentWrapper {
    margin: 120px auto 0;
}

#welcomeHeader {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.welcomeHead {
    margin-bottom: 44px;
}

.logoImg {
    width: 100%;
    max-width: 100%;
    height: 850px;
    border-radius: 1vh;
}

#teamCheckWrapper {
    margin-top: 1vw;
}

/* 2nd page - why */
.carousel-control-next {
    padding-left: 10%;
}

.carousel-control-prev {
    padding-right: 10%;
}

#carouselWrapper {
    width: 80%;
    margin: 0 auto 0;
}

/* 3rd page - register */
.customBold.small.register {
    color: #ff7900;
}

#formContentWrapper, #formWrapper, #videoWrapper{
    /*height: 78%;*/
}

#nameInput, #emailInput, #phoneNumberInput, #teamNameInput,
.contentWrapper.topic {
    background-color: #DFF2FD;
}

.registerButton {
    background-color: #ff7900;
    color: white;
    font-size: 19px;
    width: 155px;
    height: 50px;
}

.registerButton:hover {
    background-color: rgba(255, 121, 0, 0.66);
}

#teamNameInputWrapper {
    display: none;
}

#youtubeFrame {
    width: 100%;
    height: 80%;
    margin-bottom: 2vh;
}

#otherVideosWrapper {
    margin-top: 50px;
}

#youtubeFrame2, #youtubeFrame3 {
    height: 400px;
    width: 50%;
}

#youtubeFrame2 {
    margin-right: 2vh;
}

.smallTextTerms {
    font-size: 16px;
}

/* 4th page - gallery */
#programContentWrapper, #programContent2Wrapper {
    background-color: #DFF2FD;
}

#galleryText {
    width: 50%;
}

.inline-gallery-container {
    width: 60vw;
    height: 756px;
    position: relative;
}

/* 5th page - skills */
#skillText {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 30px;
}

#skillContentWrapper {
    height: 100%;
}

.skillImgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.skillsImg {
    height: 250px;
    max-width: 100%;
}

/* 6th page - requirements */
#reqTable td {
    padding: 1vw 0vw 0vw 0vw;
}

#reqTable td:first-child {
    text-align: left;
    width: 4vw;
}

#reqTable td:last-child {
    width: 65vw;
    padding-top: 30px;
    margin: 0;
    padding-left: 0;
}

#reqTable td {
    padding-bottom: 20px;
}

#reqTableCol {
    height: 4vw;
    max-height: 4vw;
    vertical-align: middle;
}

.reqCheckmarkImg {
    height: 75px;
    width: auto;
}

.reqText {
    width: 75%;
    height: 6vw;
    vertical-align: middle;
}

/* 7,8th page - program 1,2 */
#programSlide {
    margin-bottom: 30px;
}

.customBold.big.blue {
    color: #00497B;
}

.day {
    padding: 10px;
}

.programHead {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #00497B;
}

.programHead.day {
    font-size: 35px;
}

.programHead.date {
    font-size: 32px;
}

.programTable {
    text-align: left;
    padding-bottom: 20px;
}

.programTable td:first-child {
    border-right: 0.5vw solid #00497b;
    text-align: center;
    vertical-align: top;
    width: 15vw;
}

.programTable td:last-child {
    padding-left: 2vw;
    color: #005b94;
    vertical-align: top;
}

.programTable td {
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
}

/* 9th page - evaluation */
#evaluationJury {
    margin-bottom: 60px;
}

.juryCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customBold.small.bulletBlack {
    color: black;
    font-weight: normal;
}

#evaluationText {
    margin-bottom: 30px;
}

#evalImg {
    width: 250px;
    max-height: 250px;
}

.evalImages {
    height: 270px;
    max-height: 100%;
}

/* 10th page - topics */
.topicWrapper {
    background-color: #DFF2FD;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.topicTextWrapper p {
    color: #00497B;
}

.topicImg {
    height: 500px;
    width: 100%;
    border-radius: 1vh 1vh 0 0;
}

.topicTextWrapper {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    height: 160px;
}

.column_big {
    align-self: center;
    height: 190px;
}

.column_heading{
    height: 65px;
    padding-bottom: 10px;
}

.topicText {
    padding: 5vw;
}

/* 11th page - about */
.aboutImg {
    width: 100%;
    max-height: 100%;
}

/* 12th page - organizers */
#organizersWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    margin-bottom: 30px;
}

.organizerCard {
    width: 100%;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* 13th page - faq */
#faq {
    margin-bottom: 30px;
}

#faqImgWrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* Footer */
#footer {
    padding: 20px;
    background-color: #DFF2FD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerFirstRow, #footerSecondRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerTextWrapper, #footerSecondRowContent {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerSecondRow {
    width: 80vw;
    margin: 0 auto 0;
    border-top: 1px solid #C3C3C3;
    padding-top: 1vh;
}

#footerSecondRow img {
   width: 50px;
}

.footerLink {
    padding-right: 2vw;
}

.footerLink:hover {
    color: #ff7900 !important;
}

#copyrightText {
    color: #00497B;
}

/* Mobile menu */
.hamburger-menu {
    width: 30vw;
    height: 100%;
    display: none;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 45px;
    right: 20px;
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 15;
    vertical-align: center;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00497B;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: 8px;
}
.menu__btn > span::after {
    content: '';
    top: 16px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #DFF2FD;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    text-align: center;
    padding: 12px 24px;
    color: #00497B;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #DFF2FD;
}
